<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fami"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name=".user.helper.ApplicationSingleton"
        android:allowBackup="true"
        android:icon="@drawable/fami"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.activities.SignUpActivity"
            android:label="@string/sign_up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.activities.LogInActivity"
            android:label="@string/log_in"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".family.CreateFami"
            android:label="@string/create_fami"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".family.FamiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.activities.UpdateActivity"
            android:label="@string/title_activity_update" />
        <activity
            android:name=".user.SearchUserActivity"
            android:label="@string/title_activity_search_user" />
        <activity
            android:name=".todolist.TodolistActivity"
            android:label="@string/title_activity_search_user" />
        <activity
            android:name=".photo.activities.GalleryActivity"
            android:label="@string/title_activity_search_user" />
        <activity
            android:name=".photo.activities.ShowImageActivity"
            android:label="@string/title_activity_search_user" />
        <activity
            android:name=".photo.activities.PhotoSplash"
            android:label="@string/title_activity_search_user" />
        <activity
            android:name="com.fami.setting.MainSetting"
            android:label="@string/title_activity_main_setting" >
        </activity>
        <activity
            android:name="com.fami.setting.FamiInfo"
            android:label="@string/title_activity_fami_info" >
        </activity>
        <activity
            android:name="com.fami.setting.UserInfo"
            android:label="@string/title_activity_fami_info" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
